{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
        
    {% if mostrar_toast == True %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="opacity: 1;">
            <div class="toast-header">
                <img src="{{icono}}" class="rounded me-2" alt="...">
                <strong class="me-auto">{{asunto_mensaje}}</strong>
            </div>
            <div class="toast-body">
                {{mensaje}}
            </div>
        </div>
    {% endif %}
        <div class="center">
            <h1>Registrarse</h1>
            <form action="" method="POST">

                <div class="txtField">
                    <input type="text" id="nombre_corto" name="nombre_corto" required>
                    <span></span>                    
                    <label for="nombre_corto">Nombre corto</label>
                </div>

                <div class="txtField">
                    <input type="text" id="nombre" name="nombre" required>                    
                    <span></span>
                    <label for="nombre">Nombre</label>
                </div>

                <div class="txtField">
                    <input type="email" id="email" name="email" required>                    
                    <span></span>
                    <label for="email">Email</label>                    
                </div>

                <div class="txtField">
                    <input type="password" id="password" name="password" required>                    
                    <span></span>
                    <label for="password">Contraseña</label>                    
                </div>

                <input class="submitButton" type="submit" value="Registrarse">
            </form>
        </div>
{% endblock %}